{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('Tasks') %}

{% block content %}
<main class="billboard content-container">
  <h1>{{ _('Tasks') }}</h1>

  <div id="content"></div>

  {% if user.is_staff %}
    <nav class="actions-container">
      <a href="{{ url('tasks.create') }}" class="button">{{ _('Create task') }}</a>
    </nav>
  {% endif %}

</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

<script type="text/babel">
  var TaskPage = React.createClass({
    loadTasksFromServer: function() {
      $.ajax({
        url: this.props.url,
        dataType: 'json',
        cache: false,
        data: this.state.filters,
        traditional: true,
        success: function(data) {
          this.setState({data: data.results});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
    },
    loadTeamsFromServer: function() {
      $.ajax({
        url: this.props.team_url,
        dataType: 'json',
        cache: false,
        success: function(data) {
          this.setState({teams: data.results});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.team_url, status, err.toString());
        }.bind(this)
      });
    },
    loadProjectsFromServer: function() {
      $.ajax({
        url: this.props.project_url,
        dataType: 'json',
        cache: false,
        success: function(data) {
          this.setState({projects: data.results});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.project_url, status, err.toString());
        }.bind(this)
      });
    },
    getInitialState: function() {
      return {
        data: [],
        filters: {search: '', execution_time: [], team: []},
        teams: [],
        projects: []
      };
    },
    componentDidMount: function() {
      this.loadTasksFromServer();
      this.loadTeamsFromServer();
      this.loadProjectsFromServer();
    },
    render: function() {
      return (
        <div className="taskPage">
          <TaskFilters filters={this.state.filters}
                       onFilterChange={this.loadTasksFromServer}
                       teams={this.state.teams}
                       projects={this.state.projects}/>
          <TaskList data={this.state.data} />
        </div>
      );
    }
  });

  var TaskFilters = React.createClass({
    handleSearchChange: function(e) {
      this.props.filters.search = e.target.value;
      this.props.onFilterChange();
    },
    render: function() {
      return (
        <div className="task-filters">
          <form method="get" className="filters">
            <fieldset>
              <SearchFilter {...this.props} />
              <ETFilter {...this.props} />
              <TeamFilter {...this.props} />
              <ProjectFilter {...this.props} />
            </fieldset>
          </form>
        </div>
      );
    }
  });

  var SearchFilter = React.createClass({
    handleChange: function(e) {
      this.props.filters.search = e.target.value;
      this.props.onFilterChange();
    },
    render: function() {
      return (
        <p>
          <input type="text" id="search" placeholder="Search for tasks" onChange={this.handleChange} />
        </p>
      );
    }
  });

  var ETFilter = React.createClass({
    render: function() {
      var etNodes = [15, 30, 45, 60].map(function(executionTime) {
        return (
          <ET executionTime={executionTime}
              key={executionTime}
              {...this.props} />
        );
      }, this);
      return (
        <div className="et-filter">
          <p>Estimated minutes to complete:</p>
          <p>
            {etNodes}
          </p>
        </div>
      );
    }
  });

  var ET = React.createClass({
    handleChange: function(e) {
      var executionTime = this.props.filters.execution_time;
      if (e.target.checked) {
        executionTime.push(e.target.value);
      } else {
        executionTime.splice($.inArray(e.target.value, executionTime), 1);
      }
      this.props.onFilterChange();
    },
    render: function() {
      var etId = 'et' + this.props.executionTime;
      return (
        <label htmlFor={etId}>
          <input id={etId} value={this.props.executionTime} type="checkbox" onClick={this.handleChange} />
          {this.props.executionTime}
        </label>
      );
    }
  });

  var TeamFilter = React.createClass({
    render: function () {
      var teamNodes = this.props.teams.map(function(team) {
        return (
          <Team id={team.id}
                name={team.name}
                url={team.url}
                key={team.id}
                {...this.props} />
        );
      }, this);
      return (
        <ul>
          {teamNodes}
        </ul>
      );
    }
  });

  var Team = React.createClass({
    handleChange: function(e) {
      var team = this.props.filters.team;
      if (e.target.checked) {
        team.push(e.target.value);
      } else {
        team.splice($.inArray(e.target.value, team), 1);
      }
      this.props.onFilterChange();
    },
    render: function() {
      var teamId = 'team' + this.props.id;
      return (
        <li>
          <label htmlFor={teamId}>
            <input id={teamId} value={this.props.id} type="checkbox" onClick={this.handleChange} />
            {this.props.name}
          </label>
        </li>
      );
    }
  });

  var ProjectFilter = React.createClass({
    render: function () {
      var projectNodes = this.props.projects.map(function(project) {
        return (
          <Project id={project.id}
                name={project.name}
                key={project.id}
                {...this.props} />
        );
      }, this);
      return (
        <ul>
          {projectNodes}
        </ul>
      );
    }
  });

  var Project = React.createClass({
    handleChange: function(e) {
      var project = this.props.filters.project;
      if (e.target.checked) {
        project.push(e.target.value);
      } else {
        project.splice($.inArray(e.target.value, project), 1);
      }
      this.props.onFilterChange();
    },
    render: function() {
      var projectId = 'project' + this.props.id;
      return (
        <li>
          <label htmlFor={projectId}>
            <input id={projectId} value={this.props.id} type="checkbox" onClick={this.handleChange} />
            {this.props.name}
          </label>
        </li>
      );
    }
  });

  var TaskList = React.createClass({
    render: function() {
      var taskNodes = this.props.data.map(function(task) {
        return (
          <Task name={task.name}
                short_description={task.short_description}
                url={task.url}
                edit_url={task.edit_url}
                key={task.id}>
            {task.short_description}
          </Task>
        );
      });

      return (
        <div className="task-list-container">
          <ol className="task-list">
            {taskNodes}
          </ol>
        </div>
      );
    }
  });

  var Task = React.createClass({
    render: function() {
      return (
        <li>
          <p>
            <a className="task-name" href={this.props.url}>{this.props.name}</a>
{#            {% if user.is_staff %}#}
              | <a className="edit-task" href={this.props.edit_url}>Edit</a>
{#            {% endif %}#}
          </p>
          <p className="task-desc">{this.props.children.toString()}</p>
        </li>
      );
    }
  });

  ReactDOM.render(
      <TaskPage url="/api/v1/task" team_url="/api/v1/taskteam" project_url="/api/v1/taskproject" />,
      document.getElementById('content')
  );
  // To get started with this tutorial running your own code, simply remove
  // the script tag loading scripts/example.js and start writing code here.
</script>

{% endblock %}
